$width_game: 1120px;

body {
  display: grid;
  grid-template-columns: $width_game 1fr;
  grid-gap: 20px;


  select {
    font-size: 20px;
    width: 60px;
    height: 30px;
    border: none;
    margin-left: 15px;
  }

  h1 {

  }

  h4 {

  }

  button {
    background-color: #555555;
    color: #e7e7e7;
    border-radius: 10px;
    width: 80px;
    height: 45px;
    font-size: 15px;
    text-align: center;
    outline: none;
  }

  button:hover {
    background-color: #e7e7e7;
    color: #555555;
  }


  .menu {
    .level {
      display: flex;
      flex-direction: row;
      align-items: center;

    }

    .ghost {
      display: grid;
      grid-template-rows: 1fr;

      .ghost_num,
      .ghost_speed {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .pacman {
      display: grid;
      grid-template-rows: 1fr;

      .pacman_speed {
        display: flex;
        flex-direction: row;
        align-items: center;

      }
    }
  }


}
